body{
    background-color: rgb(183, 210, 222);
    color: white;
}
.container{
    background-color: black;
    /* padding: 10px; */
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bb{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    color: white;
}
.list{
    /* gap: 20px; */
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}
button{
    background-color: rgba(48, 163, 220, 0.947);
    border-radius: 40px;
    padding: 10px;
    width: max-content;
    font-size: 15px;
    color: white;
}